/*
Name:Ashley Cabrera
Date last edited: 1
Date created:
version:1
Description Homework 1 JS
*/


header{
   width: 100%;
   background-color: rgb(255, 222, 227);
}


body {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgb(217, 246, 255);
   margin: 0;
   height: 100%;
   min-height: 100vh; /* page is height of the viewport*/


}


form{
   flex-grow: 1;
}


h1, h2 {
   text-align: center;
   font-family: cursive;
   font-weight: bold;
   flex-grow: 1;
}


main
{
 text-align: center;
 font-family: Lucida Grande;
 font-weight: normal;
 flex-grow: 1;


}


.image{
   text-align: left;
}




.td1{
   text-align: right;
   font-family: "optima", Lucida Grande;
   font-weight: normal;


}


th{
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


footer{
   position: flex;
   bottom: o;
   width: 100%;
   background-color: rgb(251, 222, 226);
   height: 2.0rem;
}


#footer{
   text-align: right;
   font-family: "optima", Georgia;
   margin-right: 10px;
}


label{
   text-align: right;
   font-family: "optima", sans-serif;
   font-weight: normal;
}


input{
   text-align: right;
   font-family: "optima", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   font-weight: normal;
}


textarea{
   text-align: left;
   font-family: "optima", Georgia, 'Times New Roman', Times, serif
   font-weight: normal;
}


#today {
   text-align: left;
   font-family: "optima", sans-serif;'Courier New', Courier, monospace
   font-weight: normal;
   margin-right: 5px;
}


p{


   text-align: right;
   font-family: "optima", fantasy
   font-weight: normal;


}
