  /*
Name:Ashley Cabrera
Date last edited: 1
Date created:
version:1 
Description Homework 1 JS 
*/

header{
    width: 100%;
    background-color: rgb(255, 222, 227);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(217, 246, 255);
    margin: 0;
    height: 100%;
    min-height: 100vh; /* page is height of the viewport*/

}

form{
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    flex-grow: 1;
}

main
{
  text-align: center;
  font-family: Lucida Grande;
  font-weight: normal;
  flex-grow: 1;

}

.image{
    text-align: left;
}


.td1{
    text-align: right;
    font-family: "optima", Lucida Grande;
    font-weight: normal;

}

th{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer{
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: rgb(251, 222, 226);
    height: 2rem;
}

#footer{
    text-align: right;
    font-family: "optima", Georgia;
    margin-right: 10px;
}

label{
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input{
    text-align: right;
    font-family: "optima", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-weight: normal;
}

textarea{
    text-align: left;
    font-family: "optima", Georgia, 'Times New Roman', Times, serif
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", sans-serif;'Courier New', Courier, monospace
    font-weight: normal;
    margin-right: 5px;
}

p{

    text-align: right;
    font-family: "optima", fantasy
    font-weight: normal;

}

.error {
     color:brown
     font-size:
     font-family: Pick a front;
     font-weight:
}

.pword-message {
    text-align: right;
    font-family: pick ;
    font-weight; normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px ;
    border-spacing: 2px;
    border-radius: px;
    color: red;
}

#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
}

#alert-content {
    background-color: pick a color;
    border-radius: 10px;
    width: _px;
    height: _px;
    margin: auto;
    margin-top: _px;
    padding: _px;
    text-align: center;
}
#alert-content h4{
 font-size: 20px;
 text-align: center;
 font-family: pick a font;
 font-weight: normal;
}

#close-alert {
    background-color: pick a color;
    border-width: 1px;
    border-style: solid;
    color: pick a color;
    border-color: pick a color;
    font-size: _px;
    font-weight: bold;
    height: _px;
    width: _px;
    border-radius: _px;
    cursor: pointer;
    margin-top: _px;
    text-align: center;
    font-family: pick a font;
}
table.output,
tr.output,
td.output {
    width: __px;
    background-color: pick a color;
    padding: __px;
    border-spacing: 2px;
    border-radius: 20px;
    color: pick a color;
}

td.outputdata {
    Ensures individual cells have consistent formatting within the output table.
}
